.calculator {
  --fz: min(4vw, 20px);
  --basic-transition: 0.3s ease-in;
  --screen-height: 10em;
  --screen-bg: rgba(0, 0, 0, 0.75);
  --expression-pad: 5%;
  --expression-fz: 1.5em;
  --expression-color: rgba(255, 255, 255, 0.75);
  --result-pad: 5%;
  --result-fz: 2.5em;
  --result-color: #ffffff;
  --btn-width: 5em;
  --btn-height: 5em;
  --btn-bg: rgba(255, 255, 255, 0.75);
  --btn-bg-accent: rgba(255, 255, 255, 0.9);
  --btn-border: 1px solid #ffffff;
  display: grid;
  grid-template-columns: repeat(4, var(--btn-width));
  grid-template-rows: minmax(var(--screen-height), auto) repeat(5, var(--btn-height));
  margin: 0 auto;
  font-family: 'Gotham Rounded', sans-serif;
  font-size: var(--fz);
}

.calculator__screen {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  word-break: break-all;
  background: var(--screen-bg);
}

.calculator__screen-line {
  display: flex;
  align-items: center;
}

.calculator__expression {
  flex: 1 1 0;
  padding: var(--expression-pad);
  font-size: var(--expression-fz);
  color: var(--expression-color);
}

.calculator__result {
  flex: 1 1 0;
  padding: var(--result-pad);
  font-size: var(--result-fz);
  color: var(--result-color);
}

.calculator__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5em;
  font: inherit;
  font-size: 1.5em;
  line-height: 1;
  background: var(--btn-bg);
  border: var(--btn-border);
  cursor: pointer;
}

.calculator__btn:is(:hover, :focus-visible) {
  background: var(--btn-bg-accent);
}

.calculator__btn.calculator__btn--span {
  grid-column: span 2;
}

[data-calculator] * {
  pointer-events: none;
}
